__pycache__/ 
.ipynb_checkpoints/ 
*.pyc 
models/*.pkl 
results/cic_darknet2020_cross_dataset_predictions.csv
results/cic_darknet2020_cross_dataset_predictions.csv
results/cic_darknet2020_cross_dataset_predictions.csv
